<div class="client">
  <% if current_user[:isAdmin]  == 1 %>
    <% if $clientsDB.select(:image).where(:ip => lClient.ip).first[:image].nil? %>
      <a href="/photos?client=<%= lClient.id %>"><i class="fa-solid fa-circle-user fa-2x"></i></a>
    <%else%>
      <a href="/photos?client=<%= lClient.id %>"><img src="/images/avatars/<%= $clientsDB.select(:image).where(:ip => lClient.ip).first[:image] %>" alt="error" id="client-img"></a>
    <% end %>
  <% else %>
    <% if $clientsDB.select(:image).where(:ip => lClient.ip).first[:image].nil? %>
      <i class="fa-solid fa-circle-user fa-2x"></i>
    <%else%>
      <img src="/images/avatars/<%= $clientsDB.select(:image).where(:ip => lClient.ip).first[:image] %>" alt="error" id="client-img">
    <% end %>
  <% end %>
  <div class="infos">
    <form class="client-name-form" action="edit_name" method="post">
      <input type="hidden" name="ip" value="<%= lClient.ip %>">
      <p class="p-name"><%= $clientsDB.select(:name).where(:ip => lClient.ip).first[:name] %></p>
      <% if current_user[:isAdmin] == 1 %>
        <i class="fa-solid fa-pencil" id="p-name"></i>
      <% end %>
    </form>
    <p><%= lClient.ip %></p>
  </div>
  <a href="/panel?client=<%= lClient.id %>"><button type="button" name="button" id="button">Connect</button></a>
</div>
